/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
   Web System
    
   Music Society
   Author:Eric Chee Wei Jiat
   Date: 15/8/2022
   
   Filename: about_us_article.css

*/

article{
    background: linear-gradient(rgba(6, 101, 135, 1), rgba(255, 255, 255, 0));
}