/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 19 Aug 2022, 12:35:10 am
    Author     : Wong Jia He

    Filename : style_change_password.css
*/

article{
    display: flex;
    flex-wrap: wrap;
    background: #99ccff;
    height: 100%;
}

article div.bg-content{
    background: radial-gradient(white 30%,#99ccff 70%);
    width: 100%;
}

article table.change{
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px;
}

a {
    text-decoration: none;
}

h2{
    text-align: center;
    font-weight: bold;
}

.change {
    border:none;
    width: 50%;
    height: 80%;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

td{
    border:none;
}

.btn_info, .btn_reset{
    background-color: #fff;
    border-radius: 12px;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    width: 30%;
    height: 40px;
}

article div.btn-grp{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.error{
    padding: 2px;
    margin-left: 40%;
    background: #ff9933;
    color: white;
    width: 20%;
    border-radius: 20px;
}

.btn_reset {
    background-color : #ff6f61;
    color: white;
}

.btn_info {
    background-color : #0066cc;
    color: white;
}

.btn_reset:hover {
    background-color: #45B8AC;
}

.btn_info:hover {
    background-color:#DC143C;
    color: white;
}