/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 30, 2022, 11:38:10 AM
    Author     : Chang Ching We
    Filename   : style_event_activity.css
*/

/*Style - body part*/
body {
    font-family: Helvetica, Verdana, sans-serif;
}

/*Style - Events and Activities Details*/
h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
    opacity: 0.7;
}

.container-lg {
    height: 35%;
    padding: 0;
}

.col-md-5 {
    position: relative;
}

.col-md-5.text-center {
    padding-bottom: 0px;
}

.container-lg img {
    width: 400px;
    height: 400px;
    margin: 30px;
    object-fit: cover;
    opacity: 0.60;
    display: block;
}

.caption, .btn btn-warning btn-lg{
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: black;
}

h6 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
}

.col-md-5.text-center.text-md-start > p {
    margin :30px 10px 0px 10px;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
}


/*Style - Events and Activities Flip Card*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
    margin: 10px;
    margin-left:auto;
    margin-right: auto;
}

.flip-card-front > img {
    width: 350px;
    height: 350px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.workshop {
    background-color: #2980b9;
}

.concert {
    background-color: #7b7cb7;
}

.competition {
    background-color: #FF6F61;
}

.upcoming {
    background-color: #34568B;
}
.smilling-face {
    width: 200px;
    height: 200px;
}

.flip-card-back table {
    margin-left: auto;
    margin-right: auto;
}

.flip-card-back table > th {
    text-align: center;
    font-size: 12px;
}

.flip-card-back table td {
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
}

.flip-card-back table h1 {
    margin-top: 20px;
    font-weight: bold;
}

.button-join{
    background-color:#EFC050;
    border-color: transparent;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.button-join:hover {
    background-color: #88b04b;
    color: white;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1070px) {
    .flip-card {
        width: 260px;
        height: 260px;
    }

    .flip-card-front > img {
        width: 260px;
        height: 260px;
    }

    .smilling-face {
        width: 175px;
        height: 175px;
    }

    .flip-card-back h1 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .flip-card-back table  th {
        font-size: 10px;
    }

    .flip-card-back table td {
        font-size: 10px;
    }

    .button-join{
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    .flip-card {
        width: 250px;
        height: 250px;
    }

    .flip-card-front > img {
        width: 250px;
        height: 250px;
    }

    .smilling-face {
        width: 150px;
        height: 150px;
    }
    
    .flip-card-back h1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .flip-card-back td {
        margin-bottom: 5px;
    }
    
    .button-join{
    margin-top: 0px;
    }
}